    <h1>Generate Errors</h1>

    <button onclick="generateRandom500()">Generate a random 500 error</button>

<!--    <button onclick="generate5x500()">Generate 5 random 5xx errors</button>

    <br/>
    Generate
    <input type="number"></input> random requests 
    over a period of <input type="number"></input> minutes
    <button onclick="generateRandomRequests()   ">Generate</button>

Number of calls
    timeSpan (m) 
    400 and 500 error (percentage)-->

</div>