<h1>Test cloud run application</h1>

<div>
    <h1>Generate Errors</h1>

    <button onclick="generate5x500()">Generate 5 random 5xx errors</button>
<!--    Number of calls
    timeSpan (m) 
    400 and 500 error (percentage)-->

</div>

<h1>Timer</h1>
<div class="counter-display">
</div>

<h1>Memory Information (backend)</h1>
<div>
    <button onclick="allocateMemory()">Allocate memory</button>
</div>

<div style="display:flex">

    <div class="adhoc-memory-store">
    </div>

    <div class="mem-display">
    </div>
</div>

<script>

    const allocateMemory = async ()=>{
        const url='/addMem';
        const info = await fetch(url); 
        debugger; 
        return 0; 
    }

    const generate5x500 = async ()=>{
        const url='/error500';
        const promiseArray = []; 

        for(let i=0; i<5;i++){
            promiseArray.push(fetch(url)); 
        }
        return Promise.all(promiseArray)
        .then(_ => alert('done')); 
    }

    let ctr = 0; 

    const myTimer = ()=>{
        ctr+=1; 
        document.querySelector('.counter-display').innerHTML = ctr.toString(); 
        const url='/memoryUsage';
        return fetch(url)
            .then( response => response.text() )
            .then( text => document.querySelector('.mem-display').innerHTML = text);  
    };
    setInterval(myTimer, 1000); 
</script>